{% extends "master/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
            <small class="text-muted ml-2">
                <a href="#">Passwort vergessen?</a>
            </small>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-mutet">Noch keinen Account? 
            <a href="#" class="ml-2">Jetzt registrieren!</a>
        </small>
    </div>
</div>
{% endblock content %}