{% load static %}
{% load fontawesome_5 %}
<!doctype html>
<html lang="de">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'master/bootstrap.css' %}"/>
  <link rel="stylesheet"
    href=""{% static 'master/open-iconic-bootstrap.css' %}""/>
  <link rel="stylesheet" type="text/css" href="{% static 'master/main.css' %}"/>
  {% fontawesome_5_static %} 
  <title>Master @ KIT</title>
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-teal fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'overview' %}">Master @ KIT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a href="{% url 'overview' %}" class="nav-item nav-link">Übersicht</a>
            <a href="{% url 'semester-view' %}" class="nav-item nav-link">Semesteransicht</a>
          </div>
          <!-- navbar right side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'course-create' %}"><i class="fas fa-plus-circle"></i> Kurs</a>
            <!-- 
            <a class="nav-item nav-link" href="{% url 'specialization-create' %}">+ Vertiefungsfach</a>
            <a class="nav-item nav-link" href="{% url 'type-create' %}">+ Kurstyp</a>-->
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profil</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">

    {% if messages %} {% for msg in messages %}
    <div class="alert alert-{{ msg.tags }}">
      {{ msg }}
      {% endfor %} {% endif %} {% block content %}{% endblock %}
    </div>
  </main>
</body>
</html>