<table class="table table-sm table-borderless">
    <tbody>
        <tr>
            <td>ECTS</td>
            <td>{{ param.sum_of_credits }}</td>
        </tr>
        {% if render_missing %}
        <tr>
            <td>fehlende ECTS</td>
            <td>{{ param.missing_credits }}</td>
        </tr>
        {% endif %}

        {% if render_possible %}
        <tr>
            <td>noch mögliche ECTS</td>
            <td>{{ param.possible_credits }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Note</td>
            <td>{% if param.average > 0 %}
                {{ param.average }}
                {% else %}
                Noch keine Noten für diese Kategorie eingetragen
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>