{% extends 'master/base.html' %}
{% block content %}
{% for sem, courses in params %}
<div class="card my-4">
  <h5 class="card-header">{{ sem }}</h5>
  <div class="card-body">
    <div class="table-responsive">
    <table class="table">
        <tr>
            <th>Kursname</th>
            <th>ECTS</th>
            <th>Prüfungstermin</th>
            <th>Note</th>
            <th>angerechnet</th>
        </tr>
        {% for c in courses %}
        <tr>
            <td><a class="studentcourse-detail-link" href="{% url 'studentcourse-detail' c.pk %}">{{ c.course.course_name }}</a></td>
            <td>{{ c.course.credit_points|floatformat }}</td>
            <td> {% if c.exam_date %} {{ c.exam_date }} {% else %}k.A.{% endif %}</td>
            <td>{% if c.grade > 0 %}{{ c.grade }} {% else %} k.A. {% endif %}</td>
            <td>{% if c.included %}<i class="fas fa-check"></i> {% else %}<i class="fas fa-times"></i>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
  </div>
</div>
{% endfor %}
{% endblock content %}