{% extends "master/base.html" %}
{% block content %}
<!-- Gesamtes Studium -->
<div class="mb-5">
    <div class="h2 section-header">
        Informatik Master am KIT
    </div>
    <div>
        <div class="h6">ECTS gesamt: {{ total_credits }}</div>
        <div class="h6">fehlende ECTS (ohne Masterarbeit): {{ total_missing_credits }}</div>
        <div class="h6">Durchschnitt: {% if total_average > 0 %}{{ total_average }} {% else %} Noch keine Noten eingetragen {% endif %}</div>
    </div>
</div>

<!-- Vertiefungsfach 1 -->
{% include "master/overview_basic_courses.html" with title="Vertiefungsfach 1" param=major1 %}
<hr>
<!-- Vertiefungsfach 2 -->
{% include "master/overview_basic_courses.html" with title="Vertiefungsfach 2" param=major2 %}

<!-- Wahlbereich -->
<div class="mb-5">
    <div class="h3 section-header">
        Wahlbereich
        {% if electives.is_valid %}
        <i class="far fa-check-circle" style="color:limegreen"></i>
        {% else %}
        <i class="far fa-times-circle" style="color:darkred"></i>
        {% endif %}
    </div>
    <div>
        <div class="h6">ECTS: {{ electives.get_sum_of_credits }}</div>
        <div class="h6">noch mögliche ECTS: {{ electives.get_possible_credits }}</div>
        <div class="h6">Durchschnitt: {% if electives.get_average > 0 %}{{ electives.get_average }} {% else %} Noch keine Noten für diese Kategorie {% endif %}</div>
    </div>
    <table class="table">
        <tr>
            <th>Kursname</th>
            <th>ECTS</th>
            <th>Kurstyp</th>
            <th>mögliche Vertiefungsfächer</th>
            <th>Semester der Prüfung</th>
            <th>Note</th>
            <th>angerechnet</th>
        </tr>
        {% for course in electives.get_courses %}
        <tr>
            <td><a class="nav-detail" href="{% url 'course-detail' course.pk %}">{{ course.course_name }}</a></td>
            <td>{{ course.credit_points }}</td>
            <td>{{ course.course_type }}</td>
            <td>{{ course.get_specializations_abbreviations }}</td>
            <td>{{ course.semester }}</td>
            <td>{% if course.grade > 0 %}{{ course.grade }} {% else %} Noch keine Note {% endif %}</td>
            <td>{% if course.included %}<i class="fas fa-check"></i> {% else %}<i class="fas fa-times"></i>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<!-- Stammmodule -->
{% include "master/overview_basic_courses.html" with title="Stammmodule" param=base_modules %}

<!-- Praktika und Seminare -->
<div class="mb-5">
    <div class="h3 section-header">
        Praktika und Seminare
        {% if seminars_and_internships_valid %}
        <i class="far fa-check-circle" style="color:limegreen"></i>
        {% else %}
        <i class="far fa-times-circle" style="color:darkred"></i>
        {% endif %}
    </div>
    <div>
        <div class="h6">ECTS: {{ sum_credits_int_sem }}</div>
        <div class="h6">fehlende ECTS: {{ missing_int_sem }}</div>
    </div>
    <div class="h5 mt-4">
        Praktika
        {% if internships.is_valid %}
        <i class="far fa-check-circle" style="color:limegreen"></i>
        {% else %}
        <i class="far fa-times-circle" style="color:darkred"></i>
        {% endif %}
    </div>
    <div>
        <div class="h7">ECTS: {{ internships.get_sum_of_credits }}</div>
        <div class="h7">fehlende ECTS: {{ internships.get_missing_credits }}</div>
        <div class="h6">Durchschnitt: {% if internships.get_average > 0 %}{{ internships.get_average }} {% else %} Noch keine Noten für diese Kategorie {% endif %}</div>
    </div>
    <table class=table>
        <tr>
            <th>Name</th>
            <th>ECTS</th>
            <th>mögliche Vertiefungsfächer</th>
            <th>Semester der Prüfung</th>
            <th>Note</th>
            <th>angerechnet</th>
        </tr>
        {% for course in internships.get_courses %}
        <tr>
            <td><a class="nav-detail" href="{% url 'course-detail' course.pk %}">{{ course.course_name }}</a></td>
            <td>{{ course.credit_points }}</td>
            <td>{{ course.get_specializations_abbreviations }}</td>
            <td>{{ course.semester }}</td>
            <td>{% if course.grade > 0 %}{{ course.grade }} {% else %} Noch keine Note {% endif %}</td>
            <td>{% if course.included %}<i class="fas fa-check"></i> {% else %}<i class="fas fa-times"></i>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="h5">
        Seminare
        {% if seminars.is_valid %}
        <i class="far fa-check-circle" style="color:limegreen"></i>
        {% else %}
        <i class="far fa-times-circle" style="color:darkred"></i>
        {% endif %}
    </div>
    <div>
        <div class="h7">ECTS: {{ seminars.get_sum_of_credits }}</div>
        <div class="h7">fehlende ECTS: {{ seminars.get_missing_credits }}</div>
        <div class="h6">Durchschnitt: {% if seminars.get_average > 0 %}{{ seminars.get_average }} {% else %} Noch keine Noten für diese Kategorie {% endif %}</div>
    </div>
    <table class=table>
        <tr>
            <th>Name</th>
            <th>ECTS</th>
            <th>mögliche Vertiefungsfächer</th>
            <th>Semester der Prüfung</th>
            <th>Note</th>
            <th>angerechnet</th>
        </tr>
        {% for course in seminars.get_courses %}
        <tr>
            <td><a class="nav-detail" href="{% url 'course-detail' course.pk %}">{{ course.course_name }}</a></td>
            <td>{{ course.credit_points }}</td>
            <td>{{ course.get_specializations_abbreviations }}</td>
            <td>{{ course.semester }}</td>
            <td>{% if course.grade > 0 %}{{ course.grade }} {% else %} Noch keine Note {% endif %}</td>
            <td>{% if course.included %}<i class="fas fa-check"></i> {% else %}<i class="fas fa-times"></i>{% endif %}</td>
    
        </tr>
        {% endfor %}
    </table>
</div>
<!-- Ergänzungsfach -->
<div class="mb-5">
    <div class="h3 section-header">
        Ergänzungsfach
        {% if minor.is_valid %}
        <i class="far fa-check-circle" style="color:limegreen"></i>
        {% else %}
        <i class="far fa-times-circle" style="color:darkred"></i>
        {% endif %}
    </div>
    <div>
        <div class="h6">ECTS: {{ minor.get_sum_of_credits }}</div>
        <div class="h6">fehlende ECTS: {{ minor.get_missing_credits }}</div>
        <div class="h6">noch mögliche ECTS: {{ minor.get_possible_credits }}</div>
        <div class="h6">Durchschnitt: {% if minor.get_average > 0 %}{{ minor.get_average }} {% else %} Noch keine Noten für diese Kategorie {% endif %}</div>
    </div>
    <table class="table">
        <tr>
            <th>Kursname</th>
            <th>ECTS</th>
            <th>Kurstyp</th>
            <th>Semester der Prüfung</th>
            <th>Note</th>
            <th>angerechnet</th>
        </tr>
        {% for course in minor.get_courses %}
        <tr>
            <td><a class="nav-detail" href="{% url 'course-detail' course.pk %}">{{ course.course_name }}</a></td>
            <td>{{ course.credit_points }}</td>
            <td>{{ course.course_type }}</td>
            <td>{{ course.semester }}</td>
            <td>{% if course.grade > 0 %}{{ course.grade }} {% else %} Noch keine Note {% endif %}</td>
            <td>{% if course.included  %}<i class="fas fa-check"></i> {% else %}<i class="fas fa-times"></i>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- Schlüsselqualis -->
<div class="mb-5">
    <div class="h3 section-header">
        Schlüsselqualis
        {% if soft_skills.is_valid %}
        <i class="far fa-check-circle" style="color:limegreen"></i>
        {% else %}
        <i class="far fa-times-circle" style="color:darkred"></i>
        {% endif %}
    </div>
    <div>
        <div class="h6">ECTS: {{ soft_skills.get_sum_of_credits }}</div>
        <div class="h6">fehlende ECTS: {{ soft_skills.get_missing_credits }}</div>
        <div class="h6">noch mögliche ECTS: {{ soft_skills.get_possible_credits }}</div>
    </div>
    <table class="table">
        <tr>
            <th>Kursname</th>
            <th>ECTS</th>
            <th>Semester der Prüfung</th>
            <th>angerechnet</th>
        </tr>
        {% for course in soft_skills.get_courses %}
        <tr>
            <td><a class="nav-detail" href="{% url 'course-detail' course.pk %}">{{ course.course_name }}</a></td>
            <td>{{ course.credit_points }}</td>
            <td>{{ course.course_type }}</td>
            <td>{{ course.get_specializations_abbreviations }}</td>
            <td>{{ course.semester }}</td>
            <td>{% if course.included %}<i class="fas fa-check"></i> {% else %}<i class="fas fa-times"></i>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}