{% extends "master/base.html" %}
{% block content %}
<!-- Gesamtes Studium -->
<div class="mb-5">
    <div class="h2 section-header">
        Informatik Master am KIT
    </div>
    <div>
        <div class="h6">ECTS gesamt: {{ total_credits }}</div>
        <div class="h6">fehlende ECTS (ohne Masterarbeit): {{ total_missing_credits }}</div>
        <div class="h6">Durchschnitt: {% if total_average > 0 %}{{ total_average }} {% else %} Noch keine Noten eingetragen {% endif %}</div>
    </div>
</div>

<!-- Vertiefungsfach 1 -->
{% include "master/overview_basic_courses.html" with title="Vertiefungsfach 1" param=major1 choice=profile.major1 %}
<hr>
<!-- Vertiefungsfach 2 -->
{% include "master/overview_basic_courses.html" with title="Vertiefungsfach 2" param=major2 choice=profile.major2 %}

<!-- Wahlbereich -->
<div class="mb-5">
    <div class="h3 section-header">
        Wahlbereich
    </div>
    <div>
        <div class="h6">ECTS: {{ electives.sum_of_credits }}</div>
        <div class="h6">noch mögliche ECTS: {{ electives.possible_credits }}</div>
        <div class="h6">Durchschnitt: {% if electives.average > 0 %}{{ electives.average }} {% else %} Noch keine Noten für diese Kategorie {% endif %}</div>
    </div>
    <table class="table">
        <tr>
            <th>Kursname</th>
            <th>ECTS</th>
            <th>Kurstyp</th>
            <th>mögliche Vertiefungsfächer</th>
            <th>Semester der Prüfung</th>
            <th>Note</th>
            <th>angerechnet</th>
        </tr>
        {% for c in electives.courses %}
        <tr>
            <td><a class="nav-detail" href="{% url 'course-detail' c.pk %}">{{ c.course.course_name }}</a></td>
            <td>{{ c.course.credit_points }}</td>
            <td>{{ c.course.course_type }}</td>
            <td>{{ c.course.get_specializations_abbreviations }}</td>
            <td>{{ c.semester }}</td>
            <td>{% if c.grade > 0 %}{{ c.grade }} {% else %} Noch keine Note {% endif %}</td>
            <td>{% if c.included %}<i class="fas fa-check"></i> {% else %}<i class="fas fa-times"></i>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<!-- Stammmodule -->
{% include "master/overview_basic_courses.html" with title="Stammmodule" param=base_modules%}

<!-- Praktika und Seminare -->
<div class="mb-5">
    <div class="h3 section-header">
        Praktika und Seminare
        {% if seminars_and_internships_valid %}
        <i class="far fa-check-circle" style="color:limegreen"></i>
        {% else %}
        <i class="far fa-times-circle" style="color:darkred"></i>
        {% endif %}
    </div>
    <div>
        <div class="h6">ECTS: {{ sum_credits_int_sem }}</div>
        <div class="h6">fehlende ECTS: {{ missing_int_sem }}</div>
    </div>
    <div class="h5 mt-4">
        Praktika
        {% if internships.is_valid %}
        <i class="far fa-check-circle" style="color:limegreen"></i>
        {% else %}
        <i class="far fa-times-circle" style="color:darkred"></i>
        {% endif %}
    </div>
    <div>
        <div class="h7">ECTS: {{ internships.sum_of_credits }}</div>
        <div class="h7">fehlende ECTS: {{ internships.missing_credits }}</div>
        <div class="h6">Durchschnitt: {% if internships.average > 0 %}{{ internships.average }} {% else %} Noch keine Noten für diese Kategorie {% endif %}</div>
    </div>
    <table class=table>
        <tr>
            <th>Name</th>
            <th>ECTS</th>
            <th>mögliche Vertiefungsfächer</th>
            <th>Semester der Prüfung</th>
            <th>Note</th>
            <th>angerechnet</th>
        </tr>
        {% for c in internships.courses %}
        <tr>
            <td><a class="nav-detail" href="{% url 'course-detail' c.pk %}">{{ c.course.course_name }}</a></td>
            <td>{{ c.course.credit_points }}</td>
            <td>{{ c.course.get_specializations_abbreviations }}</td>
            <td>{{ c.semester }}</td>
            <td>{% if c.grade > 0 %}{{ c.grade }} {% else %} Noch keine Note {% endif %}</td>
            <td>{% if c.included %}<i class="fas fa-check"></i> {% else %}<i class="fas fa-times"></i>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="h5">
        Seminare
        {% if seminars.is_valid %}
        <i class="far fa-check-circle" style="color:limegreen"></i>
        {% else %}
        <i class="far fa-times-circle" style="color:darkred"></i>
        {% endif %}
    </div>
    <div>
        <div class="h7">ECTS: {{ seminars.sum_of_credits }}</div>
        <div class="h7">fehlende ECTS: {{ seminars.missing_credits }}</div>
        <div class="h6">Durchschnitt: {% if seminars.average > 0 %}{{ seminars.average }} {% else %} Noch keine Noten für diese Kategorie {% endif %}</div>
    </div>
    <table class=table>
        <tr>
            <th>Name</th>
            <th>ECTS</th>
            <th>mögliche Vertiefungsfächer</th>
            <th>Semester der Prüfung</th>
            <th>Note</th>
            <th>angerechnet</th>
        </tr>
        {% for c in seminars.courses %}
        <tr>
            <td><a class="nav-detail" href="{% url 'course-detail' c.pk %}">{{ c.course.course_name }}</a></td>
            <td>{{ c.course.credit_points }}</td>
            <td>{{ c.course.get_specializations_abbreviations }}</td>
            <td>{{ c.semester }}</td>
            <td>{% if c.grade > 0 %}{{ c.grade }} {% else %} Noch keine Note {% endif %}</td>
            <td>{% if c.included %}<i class="fas fa-check"></i> {% else %}<i class="fas fa-times"></i>{% endif %}</td>
    
        </tr>
        {% endfor %}
    </table>
</div>
<!-- Ergänzungsfach -->
<div class="mb-5">
    <div class="h3 section-header">
        Ergänzungsfach
        {% if minor.is_valid %}
        <i class="far fa-check-circle" style="color:limegreen"></i>
        {% else %}
        <i class="far fa-times-circle" style="color:darkred"></i>
        {% endif %}
    </div>
    <div>
        <div class="h6">ECTS: {{ minor.sum_of_credits }}</div>
        <div class="h6">fehlende ECTS: {{ minor.missing_credits }}</div>
        <div class="h6">noch mögliche ECTS: {{ minor.possible_credits }}</div>
        <div class="h6">Durchschnitt: {% if minor.average > 0 %}{{ minor.average }} {% else %} Noch keine Noten für diese Kategorie {% endif %}</div>
    </div>
    <table class="table">
        <tr>
            <th>Kursname</th>
            <th>ECTS</th>
            <th>Kurstyp</th>
            <th>Semester der Prüfung</th>
            <th>Note</th>
            <th>angerechnet</th>
        </tr>
        {% for c in minor.courses %}
        <tr>
            <td><a class="nav-detail" href="{% url 'course-detail' c.pk %}">{{ c.course.course_name }}</a></td>
            <td>{{ c.course.credit_points }}</td>
            <td>{{ c.course.course_type }}</td>
            <td>{{ c.semester }}</td>
            <td>{% if c.grade > 0 %}{{ c.grade }} {% else %} Noch keine Note {% endif %}</td>
            <td>{% if c.included  %}<i class="fas fa-check"></i> {% else %}<i class="fas fa-times"></i>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- Schlüsselqualis -->
<div class="mb-5">
    <div class="h3 section-header">
        Schlüsselqualis
        {% if soft_skills.is_valid %}
        <i class="far fa-check-circle" style="color:limegreen"></i>
        {% else %}
        <i class="far fa-times-circle" style="color:darkred"></i>
        {% endif %}
    </div>
    <div>
        <div class="h6">ECTS: {{ soft_skills.sum_of_credits }}</div>
        <div class="h6">fehlende ECTS: {{ soft_skills.missing_credits }}</div>
        <div class="h6">noch mögliche ECTS: {{ soft_skills.possible_credits }}</div>
    </div>
    <table class="table">
        <tr>
            <th>Kursname</th>
            <th>ECTS</th>
            <th>Semester der Prüfung</th>
            <th>angerechnet</th>
        </tr>
        {% for c in soft_skills.courses %}
        <tr>
            <td><a class="nav-detail" href="{% url 'course-detail' course.pk %}">{{ course.course_name }}</a></td>
            <td>{{ c.course.credit_points }}</td>
            <td>{{ c.course.course_type }}</td>
            <td>{{ c.course.get_specializations_abbreviations }}</td>
            <td>{{ c.semester }}</td>
            <td>{% if c.included %}<i class="fas fa-check"></i> {% else %}<i class="fas fa-times"></i>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}