{% extends 'master/base.html' %}
{% block content %}

<div class="card my-4">
    <div class="card-header">
        <h4 class="float-left">{{ studentcourse.course.course_name }} ({{ studentcourse.course.course_type }})</h4>
        <div class="float-right">
            <a href="{% url 'studentcourse-update' studentcourse.pk %}" class="text-dark">
                <i class="fas fa-edit text-right"></i>
            </a>
            <a href="{% url 'studentcourse-delete' studentcourse.pk %}" class="text-danger">
                <i class="col-2 fas fa-trash text-right"></i>
            </a>
        </div>
    </div>
    <div class="card-header">
        <h7>{{ studentcourse.category }}</h7>
    </div>
    <div class="card-body">
        <table class="table table-sm table-borderless">
            <tbody>
                <tr>
                    <td>ECTS</td>
                    <td>{{ studentcourse.course.credit_points }}</td>
                </tr>
                <tr>
                    <td>Prüfungssemester</td>
                    <td>{{ studentcourse.semester }}</td>
                </tr>
                <tr>
                    <td>Prüfungstermin</td>
                    <td>{% if studentcourse.exam_date %}{{ studentcourse.exam_date }} {% else %} Kein Prüfungstermin eingetragen {% endif %}</td>
                </tr>
                <tr>
                    <td>Note</td>
                    <td>{% if studentcourse.grade > 0 %}
                        {{ studentcourse.grade }}
                        {% else %}
                        Keine Note eingetragen
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>angerechnet</td>
                    <td>{% if studentcourse.included %}
                        <i class="fas fa-check"></i>
                        {% else %}
                        <i class="fas fa-times"></i>{% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Mögliche Vertiefungsfächer</td>
                    <td>{{ studentcourse.course.get_specializations_abbreviations }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}